$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}





.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    
    background: url(../images/intro-bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
    .intro{
    margin-top:0px;
    width:100;
    height:75%;
    }
    
.brandList{
    margin-top:360px;
}

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    .intro
        {
        margin-top:0;
        }
        .brandList{
        margin-top: 80%;
        }
    }

    

@media(min-width:767px) {
     .brandList{ 
  margin-left: -80%;
  margin-top: 75%
}
.navList{
    margin-left:-85%;
    margin-top:-18%

}

.socialList{
      margin-right:-555px;
    }

    .intro {
        height: 100%;
        padding: 0;


    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }

     
  
}

/* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    .brandList{
      margin-left: -78%;
     margin-top: 45%;
    }

    .socialList{
      margin-right:-675px;
      margin-top:100px;
    }
    }
/* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    .brandList {
  margin-left: -85%;
  margin-top: 40%;
}
.socialList{
      margin-right:-875px;
      margin-top:100px;
    }

    }


body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}
.brandList {
list-style: none;
}

.brandList li{
display: inline;
list-style-type: none;
padding-right: 20px;
}

.navList{
    list-style:none;
    text-transform:uppercase;

}

.socialList{
    list-style:none;
    text-transform:uppercase;

}

.socialList li{
display: inline;
list-style-type: none;
padding-right: 0;
}
a{
    color:#fff
}
a:hover{
    color:red;
    text-style:none;
}
a:link{
    text-decoration:none;
}